.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    max-width: 45.625rem;
    height: 0;
    margin: 0px auto;
    padding: 2rem 1.5rem 3.5rem;
    color: var(--textprimary);
    .navigate {
        align-items: center;
        margin-bottom: 2rem; 
        cursor: pointer;
        text-decoration: none;
     
        span {
            transition: color 0.3s ease 0s;
            font-size: 0.75rem;
            line-height: 1.125;
            letter-spacing: -0.25px;
            color: var(--textprimary);
        }
    }
    .header {
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        box-shadow: rgb(72 84 159 / 10%) 0px 10px 10px -10px;
        padding: 1.5rem;
        background: var(--bginvoice);
        transition: background 0.3s ease 0s;
        &__span {
            font-size: 0.75rem;
            line-height: 1.125;
            letter-spacing: -0.25px;
            margin-right: auto;
            transition: color 0.3s ease 0s;
        }
        .status {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 6.5rem;
            height: 2.5rem;
            border-radius: 0.375rem;
            background: rgba(51, 214, 159, 0.06);
            &__circle {
                width: 0.5rem;
                height: 0.5rem;
                margin-right: 0.5rem;
                border-radius: 50%;
                background: rgb(51, 214, 159);
            }
            &__text {
                transition: color 0.3s ease 0s;
                font-size: 0.75rem;
                color: rgb(51, 214, 159) ;
                line-height: 1.125;
                letter-spacing: -0.25px;
                font-weight: bold;
                text-transform: capitalize;
            }
        }
        &__button {
            display: none;
        }
    }
    .body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        row-gap: 2rem;
        border-radius: 0.5rem;
        box-shadow: rgb(72 84 159 / 10%) 0px 10px 10px -10px;
        padding: 1.5rem;
        background: var(--bginvoice);
        transition: background 0.3s ease 0s;

        &__title {
            grid-area: 1 / 1 / 2 / 3;
            display: flex;
            flex-direction: column;
            h1 {
                font-size: 0.75rem;
                margin-bottom: 0.25rem;
                text-transform: uppercase;
                span {
                    color: rgb(126, 136, 195);
                }
            }
            span {
                transition: color 0.3s ease 0s;
                color: var(--textsecondary);
                font-size: 0.75rem;
                line-height: 1.125;
                letter-spacing: -0.25px;    
            }
        }
        .address {
            display: flex;
            flex-direction: column;
            color: var(--textsecondary);
            font-size: 0.6875rem;
            line-height: 1.63;
            letter-spacing: -0.23px;
            font-style: normal;
        }
        
        &__dates {
            grid-area: 3 / 1 / 4 / 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap:  1rem;
            .invoicedate {
                display: flex;
                flex-direction: column;

            }
            .paymentdate {
                display: flex;
                flex-direction: column;
            }
            .span {
                margin-bottom: 0.25rem;
                transition: color 0.3s ease 0s;
                color: var(--textsecondary);
                line-height: 1.63;
                letter-spacing: -0.23px;
                font-size: var(--fontsize);
            }
            .date {
                font-size: 0.9375rem;
                font-weight: bold;
                line-height: 1.5;
                letter-spacing: -0.8px;
            }

        }
        .clientaddress {
            grid-area: 3 / 2 / 4 / 3;
            display: flex;
            flex-direction: column;
            transition: color 0.3s ease 0s;
            color: var(--textsecondary);
            font-size: 0.6875rem;
            line-height: 1.63;
            letter-spacing: -0.23px;
            font-style: normal;
            :nth-child(1) {
                margin-bottom: 0.5rem;
            }
            :nth-child(2) {
                margin-bottom: 0.25rem;
                font-size: 0.9375rem;
                font-weight: bold;
                color: var(--textprimary);
            }
            
        }
        &__email {
            grid-area: 4 / 1 / 5 / 2;
            display: flex;
            flex-direction: column;
            .emailtitle {
                margin-bottom: 0.25rem;
                transition: color 0.3s ease 0s;
                line-height: 1.63;
                letter-spacing: -0.23px;
                font-size: 0.75rem;
            }
            a {
                font-size: 0.9375rem;
                font-weight: bold;
            }
        }
        .invoicetable {
            grid-area: 6 / 1 / 7 / -1;
            border-radius: 0.5rem;
            overflow: hidden;
            .table {
                width: 100%;
                border-spacing: 0px;
                padding-top: 2rem;
                background: var(--bgsecondary);
                transition: background 0.3s ease 0s;
                &__head {
                    display: none;
                    transition: color 0.3s ease 0s;
                    color: var(--textsecondary);
                    font-size: 0.6875rem;
                    line-height: 1.63;
                    letter-spacing: -0.23px;
                }
                &__body {
                    .item {
                        font-size: 0.75rem;
                        font-weight: bold;
                        transition: color 0.3s ease 0s;
                        border-bottom: none;
                        color: var(--textsecondary);
                        &__name {
                            padding: 0px 0px 2rem 2rem;
                            text-align: start;
                            color: var(--textprimary);
                        }
                        &__Qty {
                            display: none;
                        }
                        &__price {
                            display: none;
                        }
                        &__total {
                            color: var(--textprimary);
                            padding: 0px 2rem 2rem 0px;
                            text-align: end;
                        }
                    }
                }
                &__footer {
                    background: rgb(12, 14, 22);
                    transition: background 0.3s ease 0s;
                    // min-height: ;
                    tr {
                        .amount {
                            padding: 2rem 0px 2rem 2rem;
                            color: white;
                            font-size: 0.6875rem;
                            text-align: start;
                        }
                        .empty {
                            display: none;
                        }
                        .invoicetotal {
                            padding: 2rem 2rem 2rem 0px;
                            color: white;
                            font-size: 1.25rem;
                            font-weight: bold;
                            text-align: end;
                        }
                    }
                }
            }
        }
    }
    .invoicefooter {
        display: flex;
        justify-content: center;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        text-align: center;
        min-height: 10vh;
        gap: 0.5rem;
        width: 100%;
        padding: 1.5rem;
        background: rgb(30, 33, 57);
        transition: background 0.3s ease 0s;
        .editbtn {
            padding: 1rem 1.5rem;
            background: rgb(37, 41, 69);
            transition: backround 0.3s ease 0s, color 0.3s ease 0s;
        }
        .btn {
            border: none;
            width: initial;
            outline: none !important;
            color: var(--textsecondary);
            font-size: var(--fontsize);
            line-height: 1.25;
            font-weight: 700;
            border-radius: 10rem;
        }
        .deletebtn {
            color: white;
            transition: background 0.3s ease 0s, color 0.3s ease 0s;
            background: rgb(236, 87, 87);
        }
    }
      
}
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.example {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
//hide table border
table, tr, td, thead, tbody, thead, tfoot {
    border:none;
}

//media quary for tablet, desktop and large screen
@media only screen and (min-width: 768px) {
    .wrapper {
        padding: 4.5rem ;
        // height:100vh;
        width: 100%;  
        .header {
            margin-bottom: 1.5rem;
            &__span {
                margin-right: 1rem;
            }
            .status {
                &__text {
                    font-weight: bold;
                    text-transform: capitalize;
                }
            }
            &__button {
                display: flex;
                gap: 0.5rem;
                margin-left: 16rem;
                .edit {
                    width: initial;
                    border: none;
                    border-radius: 10rem;
                    padding: 1rem 1.5rem;
                    font-size: 0.75rem;
                    line-height: 1.25;
                    font-weight: 700;
                    outline: none !important;
                    background: var(--bgsecondary);
                    color:var(--textsecondary);
                }
                .delete {
                    width: initial;
                    border: none;
                    border-radius: 10rem;
                    padding: 1rem 1.5rem;
                    color: white;
                    font-size: 0.75rem;
                    font-weight: 700;
                    line-height: 1.25;
                    transition: background 0.3s ease 0s, color 0.3s ease 0s;
                    outline: none !important;
                    background: rgb(236, 87, 87);
                }
            }
           
        }
        .body {
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 1.25rem;
            &__title {
                grid-area: 1 / 1 / 2 / 3;
                display: flex;
                flex-direction: column;
                h1 {
                    margin-bottom: 0.25rem;
                    font-size: 0.75rem; 
                    span{
                        color: rgb(126, 136, 195);
                    }
                }
            }
            .address {
                text-align: end;
                
                span {
                    font-size: 0.6875rem;
                    line-height: 1.0625rem;
                    letter-spacing: -0.23px;
                }
            }
            &__dates {
                grid-area: 3 / 1 / 4 / 2;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1rem;
            }
            &__email {
                grid-area: 3 / 3 / 4 / 4 ;
            }
            .invoicetable {
                .table {
                    &__head {
                        display: table-header-group;
                        tr {
                            th {
                                :nth-child(1) {
                                    padding: 0px 0px 2rem 2rem;
                                    text-align: start;
                                }
                                :nth-child(2) {
                                    text-align: center;
                                }
                                :last-child {
                                    padding: 0px 2rem 2rem 0px;
                                }
                            }
                        }
                    }
                    &__body {
                        .item {
                            color: var(--textsecondary);
                            transition: color 0.3s ease 0s;
                            font-size: 0.75rem;
                            &__name {
                                font-weight: bold;
                            }
                            &__Qty {
                                font-weight: bold;
                                transition: color 0.3s ease 0s;
                                display: table-cell;
                                padding: 0px 0px 2rem;
                                color: var(--textsecondary);
                            }
                            &__price {
                                display: table-cell;
                                font-weight: bold;   
                            }
                        }
                    }
                    &__footer {
                        
            
                        .amount {
                            padding: 2rem;
                            margin-right: 30rem;
                        }
                        .empty {
                            display: table-cell;
                            padding: 0px;
                        }
                    }
                }
            }
            
        }
    }
    .invoicefooter {
        display: none;
    }


}


